# Flower runtime (server_app/client_app/superexec/Ray sim)
flwr[simulation]==1.22.0

# Scientific / ML stack (not torch, we install that separately)
numpy<=2.0.1
scipy>=1.11.0
scikit-learn>=1.4.0
mne>=1.7.0
tqdm>=4.66.0
pandas>=2.2.0
